@import url('https://cdn.jsdelivr.net/gh/sunn-us/SUIT/fonts/static/woff2/SUIT.css');

.dodge {
  font-family: 'SUIT', sans-serif;
  section {
    max-width: 1000px;
    margin: 0 auto;
    margin-top: -5px;

    img,
    embed {
      display: block;
    }

    h1 {
      font-size: 30px;
      font-weight: bold;
      text-align: center;
      color: #fff;

      span {
        color: #f8e329;
      }
    }

    &.txtSection {
      padding: 40px 85px;
      background: url('../images/dodge/jm_owp_event03.png') no-repeat center /
        100% 100%;
    }
  }

  .ranking-table {
    margin-top: 15px;
    width: 100%;
    border-radius: 15px;
    overflow: hidden;

    td,
    th {
      padding-left: 10px;
      vertical-align: middle;
      box-sizing: border-box;
      text-align: left;
      font-weight: 600;

      &:nth-child(1),
      &:nth-child(4) {
        padding-left: 0;
        text-align: center;
        color: #416dfb;
      }
    }

    thead {
      background-color: #d8e0fe;
      color: #416dfb;

      th {
        height: 50px;
        border: 1px solid #b7c6ff;
      }
    }

    tbody {
      td {
        height: 60px;
        border: 1px solid #d8e0fe;
        background-color: #fff;
        color: #4b5563;

        &:nth-child(1),
        &:nth-child(2),
        &:nth-child(4),
        &:nth-child(5) {
          background-color: #f2f5ff;
        }
      }
    }
  }

  i[class*='icon'] {
    display: inline-block;
    margin-right: 10px;
    margin-left: 10px;
    width: 16px;
    height: 24px;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;

    &.icon-gold {
      background-image: url('../images/dodge/ico_gold.png');
    }

    &.icon-silver {
      background-image: url('../images/dodge/ico_silver.png');
    }

    &.icon-bronze {
      background-image: url('../images/dodge/ico_bronze.png');
    }
  }
}
